@import "./base.css";

.container {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  margin-top: 5rem !important;
}

/* XS */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* S */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* M */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
